<!DOCTYPE html>
<html>
<head>


    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

    <!-- Navbar styling -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <style>

        #main {
            position: relative;
            left:-50px;
        }

        .jumbotron-fluid {
            position: relative;
            background-color: #2e353d;
            color: #e1ffff;
            font-family: verdana;
            left:0px;

        }

        header {
            padding: 1.8em;
            color: white;
            background-color: #2e353d;
            clear: left;
            text-align: center;
        }


        h1 {
            color: #2e353d;
            font-family: verdana;
            font-size: 40px;
            font-weight: 200;
        }

        h5 {
            color: #2e353d;
            font-family: verdana;
            font-size: 18px;
            font-weight: 200;
        }

        p {
            color: #2e353d;
            font-family: verdana;
            font-size: 14px;
            font-weight: 200;
        }


        footer {
            position:fixed;
            left:0px;
            bottom:0px;
            height:30px;
            width:100%;
            background: #2e353d;
            font-family: verdana;
            font-size: 18px;
            font-weight: 200;
            color: #e1ffff;
            text-align: center;
        }

        nav {
            float: left;
            margin: 0;
            padding: 0em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
        .nav-side-menu {
            overflow: auto;
            font-family: verdana;
            font-size: 18px;
            font-weight: 200;
            background-color: #2e353d;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 200px;
            height: 100%;
            color: #e1ffff;
        }
        .nav-side-menu .brand {
            background-color: #2e353d;
            line-height: 50px;
            display: block;
            text-align: center;
            font-size: 14px;
        }
        .nav-side-menu .toggle-btn {
            display: none;
        }
        .nav-side-menu ul,
        .nav-side-menu li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            line-height: 35px;
            cursor: pointer;
            /*
              .collapsed{
                 .arrow:before{
                           font-family: FontAwesome;
                           content: "\f053";
                           display: inline-block;
                           padding-left:10px;
                           padding-right: 10px;
                           vertical-align: middle;
                           float:right;
                      }
               }
          */
        }
        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }
        .nav-side-menu ul .active,
        .nav-side-menu li .active {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
        }
        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
            color: #d19b3d;
        }
        .nav-side-menu ul .sub-menu li.active a,
        .nav-side-menu li .sub-menu li.active a {
            color: #d19b3d;
        }
        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            background-color: #181c20;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
        }
        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
            background-color: #020203;
        }
        .nav-side-menu ul .sub-menu li:before,
        .nav-side-menu li .sub-menu li:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }
        .nav-side-menu li {
            padding-left: 0px;
            border-left: 3px solid #2e353d;
            border-bottom: 1px solid #23282e;
        }
        .nav-side-menu li a {
            text-decoration: none;
            color: #e1ffff;
        }
        .nav-side-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }
        .nav-side-menu li:hover {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
        @media (max-width: 767px) {
            .nav-side-menu {
                position: relative;
                width: 100%;
                margin-bottom: 0px;
            }
            .nav-side-menu .toggle-btn {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 10 !important;
                padding: 3px;
                background-color: #ffffff;
                color: #000;
                width: 40px;
                text-align: center;
            }
            .brand {
                text-align: left !important;
                font-size: 22px;
                padding-left: 20px;
                line-height: 50px !important;
            }
        }
        @media (min-width: 767px) {
            .nav-side-menu .menu-list .menu-content {
                display: block;
            }
            #main {
                width:calc(100% - 300px);
                float: right;
            }
        }

       .nav-side-menu .brand {
            font-size: 20px;
        }

        body {
            margin: 0px;
            padding: 0px;
        }

        div.container {
            width: 100%;
        }

    </style>

</head>

<body>
    <div class="nav-side-menu">
        <div class="brand">Active</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href='/'>
                        <i class="fa fa-home" aria-hidden="true"></i> Home
                    </a>
                </li>
                <li>
                    <a href='/createaccount'>
                        <i class="fa fa-plus" aria-hidden="true"></i> Create Account
                    </a>
                </li>
                <li>
                    <a href='/login'>
                        <i class="fa fa-user fa-lg"></i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container" id="main">
        <div class="row">
            <div class="col-md-12">

