<%- include("../includes/header.ejs", {title:"ActivityLog - Add"}); %>

<h1>Add A New Activity</h1>

<% if(locals.was_unsuccessful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-danger">
        Please fill out AccountID, Activity, and Date at minimum!
    </div>
</div>
<% } %>

<form action="/activitylog/insert" method="get">

    <label>AccountID</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="UserID" id="example-number-input">
        </div>
    </div>

    <label>Activity</label>
    <br />
    <select id="ActivityID" name="ActivityID" >
        <% for(var i=0; Activities.length > i; i++ ) { %>
        <option value="<%= Activities[i].ActivityID %>"><%= Activities[i].ActivityName %></option>
        <% } %>
    </select>
    <br />
    <br />

    <label>Date</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="date" name="DateDone" id="example-date-input">
        </div>
    </div>

    <label>Location</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="Location" id="example-text-input">
        </div>
    </div>

    <label>Duration</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="Duration" id="example-number-input">
        </div>
    </div>

    <label>Distance</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="Distance" id="example-number-input">
        </div>
    </div>

    <label>Weight</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="Weight" id="example-number-input">
        </div>
    </div>

    <label>Reps</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="Reps" id="example-number-input">
        </div>
    </div>

    <label>Sets</label>
    <div class="form-group row">
        <div class="col-xs-4">
            <input class="form-control" type="text" name="Sets" id="example-number-input">
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>


<%- include("../includes/footer.ejs"); %>