<%- include("../includes/header.ejs", {title:"Activity Log - View All"}); %>

<h1>Activity Log</h1>
<a href="/activitylog/add">Log New Activity</a> <br />

<br />

<table border="1">
    <tr>
        <th>Log ID</th>
        <th>User ID</th>
        <th>Date Performed</th>
        <th>Sets</th>
        <th>Weight</th>
        <th>Actions</th>
    </tr>

    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/activitylog/?LogId=<%= result[i].LogId %>"><%= result[i].LogId %></a></td>
        <td><%= result[i].UserID %></td>
        <td><%= result[i].DatePerformed %></td>
        <td><%= result[i].Sets %></td>
        <td><%= result[i].Weight %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/activitylog/edit/?LogID=<%= result[i].LogId %>'">Edit</button>
            <form action="/activitylog/delete/" style="display:inline;">
                <input type="hidden" name="LogId" id="LogId" value="<%= result[i].LogId %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />

<%- include("../includes/footer.ejs"); %>