<%- include("./includes/header.ejs"); %>
    <h1>Create A New Account</h1>

    <% if(locals.was_unsuccessful) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger">
        Please fill out every box in the form!
        </div>
    </div>
    <% } %>

    <form action="/user/insert" method="get">
        <label>First Name</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="text" name="FirstName"  id="example-text-input">
            </div>
        </div>

        <label>Last Name</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="LastName" id="example-text-input">
            </div>
        </div>

        <label>Email</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="email" name="Email" id="example-email-input">
            </div>
        </div>

        <label>Height (in)</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="number" name="Height" id="example-number-input">
            </div>
        </div>

        <label>Weight (lbs)</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="number" name="Weight" id="example-number-input">
            </div>
        </div>

        <label>Street No.</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="number" name="StreetNo" id="example-number-input">
            </div>
        </div>

        <label>Street</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="text" name="Street" id="example-number-input">
            </div>
        </div>

        <label>City</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="text" name="City" id="example-text-input">
            </div>
        </div>

        <label>State</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="text" name="State" id="example-text-input">
            </div>
        </div>

        <label>Zip</label>
        <div class="form-group row">
            <div class="col-xs-4">
                <input class="form-control" type="number" name="Zip" id="example-number-input">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <br/>
        <br/>
        <br/>

    </form>


<%- include("./includes/footer.ejs"); %>