<%- include("./includes/header.ejs", {title: title}); %>

<h1>Welcome to <%= title %></h1>

<br/>

<p>Active is a web application built for people who want to keep track of all of their
    activities. It has a simple, intuitive layout that anyone can follow.</p>

<br/>

<p>The back-end is made up of the Node.js Express framework and MySQL, and the front-end
    contains CSS and the Bootstrap library.</p>
<br/>

<p>The design for the app is pretty simple. To view the ER-Diagram, Relational Schema,
    and Functional Dependency Diagram, just click below.</p>

<br/>

<p>Below is the number of activities our users have logged in each category.</p>
<br/>

<h5> Aerobic: <%= aerobic.count %> </h5>
<h5> Calisthenics: <%= calisthenics.count %> </h5>
<h5> General: <%= general.count %> </h5>
<h5> Sports: <%= sports.count %> </h5>
<h5> Weights: <%= weights.count %> </h5>
<br/>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/er_diagram.PNG">
                <img src="/images/er_diagram.PNG" alt="er">
                <div class="caption">
                    <p>ER - Diagram</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/r_schema.PNG">
                <img src="/images/r_schema.PNG" alt="schema" style="width:90%">
                <div class="caption">
                    <p>Relational Schema</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/fd-diagram.PNG">
                <img src="/images/fd-diagram.PNG" alt="schema" style="width:90%">
                <div class="caption">
                    <p>Functional Dependency Diagram</p>
                </div>
            </a>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>



<%- include("./includes/footer.ejs"); %>