<%- include("./includes/header.ejs"); %>

    <h1>Login</h1>

        <form action="/user/view" method="get">
            <div class="form-login">
                <h4>Welcome back.</h4>
                <label>Account ID</label>
                <div class="form-group row">
                    <div class="col-xs-4">
                        <input class="form-control" id="UserID" name="UserID" type="number">
                    </div>
                </div>
                <div class="wrapper">
                    <span class="group-btn">
                        <input type="submit" class="btn btn-primary btn-md" value="View Profile" >
                    </span>
                </div>
            </div>
            <br/>
            <% if(locals.was_unsuccessful) { %>
            <div class="col-md-4">
                <div id="message" class="alert alert-danger">
                    Please fill out every box in the form!
                </div>
            </div>
            <% } %>

        </form>

<%- include("./includes/footer.ejs"); %>