<%- include("../includes/header.ejs", {title: "result[0].first_name + result[0].last_name" }); %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= User.FirstName %> <%= User.LastName %></h1>

            <%= User.Email %>
            </br>
            <%= User.Height %>" <%= User.Weight %>lbs.
            </br>
            <%= Address.StreetNo %> <%= Address.Street %>
            </br>
            <%= Address.City %> <%= Address.State %> <%= Address.Zip %>

    </div>
</div>

<% if(locals.was_successful) { %>
<div class="col-md-4">
    <div id="message" class="alert alert-success col-md-4">
        <%= User.FirstName %>, you're profile was successfully created! Your AccountID is <h3><%= UserID %></h3>
    </div>
</div>
<% } %>

<% if(locals.goal_was_successful) { %>
<div class="col-md-4">
    <div id="message" class="alert alert-success col-md-4">
        <%= User.FirstName %>, you're goal was successfully added.
    </div>
</div>
<% } %>

<% if(locals.log_was_successful) { %>
<div class="col-md-4">
    <div id="message" class="alert alert-success col-md-4">
        <%= User.FirstName %>, you're activity was successfully added.
    </div>
</div>
<% } %>

<button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/goals/add/?UserID=<%= User.UserID %>'">Add New Goal</button>
<br />

<h2>Goals</h2>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Activity</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Weight</th>
            <th>Reps</th>
        </tr>
        </thead>
        <% for(var i=0; Goals.length > i; i++ ) { %>
        <tbody>
            <tr>
                <td><%= Goals[i].GoalName %></td>
                <td><%= Goals[i].ActivityName %></td>
                <td><%= Goals[i].Duration %></td>
                <td><%= Goals[i].Distance %></td>
                <td><%= Goals[i].Weight %></td>
                <td><%= Goals[i].Reps %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/activitylog/add/?UserID=<%= User.UserID %>'">Add New Activity</button>

<h2>Activity Log</h2>
    <table class="table table-inverse">
        <thead class="thead-inverse">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>Sets</th>
                <th>Duration</th>
                <th>Distance</th>
            </tr>
        </thead>
            <% for(var i=0; Activities.length > i; i++ ) { %>
            <tbody>
            <tr>
                <td><%= Activities[i].DateDone.getMonth() + 1 %>-<%= Activities[i].DateDone.getDay() + 1 %>-<%= Activities[i].DateDone.getFullYear() %></td>
                <td><%= Activities[i].ActivityName %></td>
                <td><%= Activities[i].Weight %></td>
                <td><%= Activities[i].Reps %></td>
                <td><%= Activities[i].Sets %></td>
                <td><%= Activities[i].Duration %></td>
                <td><%= Activities[i].Distance %></td>
            </tr>
            <% } %>
            </tbody>
    </table>

<br/>
<br/>

<%- include("../includes/footer.ejs"); %>