<%- include("../includes/header.ejs", {title:"Goals - View All"}); %>

<h1>Users</h1>
<a href="/user/add">Add New User</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/user/?UserID=<%= result[i].UserID %>"><%= result[i].FirstName %> <%= result[i].LastName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/goal/edit/?GoalID=<%= result[i].UserID %>'">Edit</button>
            <form action="/user/delete/" style="display:inline;">
                <input type="hidden" name="UserID" id="UserID" value="<%= result[i].UserID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />

<%- include("../includes/footer.ejs"); %>