<%- include("../includes/header.ejs", {title:"Goals - View All"}); %>

<h1>Goals</h1>
<a href="/goals/add">Add New Goal</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/goals/?GoalID=<%= result[i].GoalID %>"><%= result[i].GoalName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/goal/edit/?GoalID=<%= result[i].GoalID %>'">Edit</button>
            <form action="/goals/delete/" style="display:inline;">
                <input type="hidden" name="GoalID" id="GoalID" value="<%= result[i].GoalID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />

<%- include("../includes/footer.ejs"); %>