<%- include("../includes/header.ejs", {title:"Activity - View All"}); %>

<h1>Activities</h1>
<a href="/activity/add">Add New Activity</a> <br />

<br />

<table border="1">
    <tr><th>Type</th><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].ActivityType %> </td> <td>  <a href="/activity/?ActivityID=<%= result[i].ActivityID %>"> <%= result[i].ActivityName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/activity/edit/?ActivityID=<%= result[i].ActivityID %>'">Edit</button>
            <form action="/activity/delete/" style="display:inline;">
                <input type="hidden" name="ActivityID" id="ActivityID" value="<%= result[i].ActivityID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />

<%- include("../includes/footer.ejs"); %>