<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">

    Street No. <input id="StreetNo" name="StreetNo" type="number" />
    Street <input id="Street" name="Street" type="text" />
    City <input id="City" name="City" type="text" />
    State <input id="State" name="State" type="State" />
    Zip <input id="Zip" name="Zip" type="number" />

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>