<%- include("../includes/header.ejs", {title:"Address - " + result[0].account_name}); %>
<h1>Addresses</h1>

<%= result[0].StreetNo %> <%= result[0].Street %>
</br>
<%= result[0].City %> <%= result[0].State %> <%= result[0].Zip %>
</br>
</br>


<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>